<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from mapbox.bom and darksky.net.
            It was built using Node.js and some very useful NPM's modules.
            As a result, there is an app you can use to get the weather information for any location.
            </p>
            <img class="portrait" src="./img/weather.gif" alt="Node logo"> 
            <p>This website was created by Erick Sicard. It's a product of his learning path to become a Full Stack Web Developer.</p>           
        </div>

        {{>footer}} 
    </body>
</html>